<style>
  table {
    width: 560px;
  }
  
  th {
    border:0pt;
    text-align: left;
  }
  
  td {
    padding-bottom: 11px;
  }
  
  .firstColumn {
    width: 410px;
    padding-left: 16px;
    padding-right: 50px;
  }
  
  .secondColumn {
    width: 150px;
    padding-right: 28px;
  }
  
  .name {
    color: #4a78c2;
    margin-right: 5px;
  }
    
  .version {
    color: #888888;
    line-height: 1.5em;
    white-space: nowrap;
  }
  
  .licence {
    color: #779dbd;
  }
</style>
<table>
<tr><th class="firstColumn">Software</th><th class="secondColumn">License</th></tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="AAPT_Protos_0.3.1_lib_url" class="name" href="http://source.android.com/">AAPT Protos</a>
      <span class="version">0.3.1</span>
    </td>
    <td class="secondColumn">
      <a id="AAPT_Protos_0.3.1_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Amazon_Ion_Java_1.5.2-2_lib_url" class="name" href="https://github.com/amzn/ion-java">Amazon Ion Java</a>
      <span class="version">1.5.2-2</span>
    </td>
    <td class="secondColumn">
      <a id="Amazon_Ion_Java_1.5.2-2_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Android_Analytics_null_lib_url" class="name" href="http://source.android.com/">Android Analytics</a>
      <span class="version"></span>
    </td>
    <td class="secondColumn">
      <a id="Android_Analytics_null_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Android_Analytics_Protos_27.0.0.0_lib_url" class="name" href="http://source.android.com/">Android Analytics Protos</a>
      <span class="version">27.0.0.0</span>
    </td>
    <td class="secondColumn">
      <a id="Android_Analytics_Protos_27.0.0.0_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Android_Apk_ZLib_4.0.0_lib_url" class="name" href="http://source.android.com/">Android Apk ZLib</a>
      <span class="version">4.0.0</span>
    </td>
    <td class="secondColumn">
      <a id="Android_Apk_ZLib_4.0.0_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Android_Baksmali_2.2.4_lib_url" class="name" href="http://source.android.com/">Android Baksmali</a>
      <span class="version">2.2.4</span>
    </td>
    <td class="secondColumn">
      <a id="Android_Baksmali_2.2.4_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Android_Builder_null_lib_url" class="name" href="http://source.android.com/">Android Builder</a>
      <span class="version"></span>
    </td>
    <td class="secondColumn">
      <a id="Android_Builder_null_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Android_DEX_library_2.2.4_lib_url" class="name" href="http://source.android.com/">Android DEX library</a>
      <span class="version">2.2.4</span>
    </td>
    <td class="secondColumn">
      <a id="Android_DEX_library_2.2.4_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Android_Gradle_model_0.4-SNAPSHOT_lib_url" class="name" href="https://android.googlesource.com/platform/tools/build/+/master/gradle-model/">Android Gradle model</a>
      <span class="version">0.4-SNAPSHOT</span>
    </td>
    <td class="secondColumn">
      <a id="Android_Gradle_model_0.4-SNAPSHOT_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Android_Layout_Library_27.0.0.0_lib_url" class="name" href="http://source.android.com/">Android Layout Library</a>
      <span class="version">27.0.0.0</span>
    </td>
    <td class="secondColumn">
      <a id="Android_Layout_Library_27.0.0.0_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Android_libwebp_library_null_lib_url" class="name" href="https://github.com/webmproject/libwebp">Android libwebp library</a>
      <span class="version"></span>
    </td>
    <td class="secondColumn">
      <a id="Android_libwebp_library_null_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Android_Profiler_27.0.0.0_lib_url" class="name" href="http://source.android.com/">Android Profiler</a>
      <span class="version">27.0.0.0</span>
    </td>
    <td class="secondColumn">
      <a id="Android_Profiler_27.0.0.0_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Android_SDK_Tools_null_lib_url" class="name" href="http://source.android.com/">Android SDK Tools</a>
      <span class="version"></span>
    </td>
    <td class="secondColumn">
      <a id="Android_SDK_Tools_null_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Apache_Ant_1.9_lib_url" class="name" href="http://ant.apache.org/">Apache Ant</a>
      <span class="version">1.9</span>
    </td>
    <td class="secondColumn">
      <a id="Apache_Ant_1.9_license_url" class="licence" href="http://ant.apache.org/license.html">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Apache_Axis_1.4_lib_url" class="name" href="http://ws.apache.org/axis/">Apache Axis</a>
      <span class="version">1.4</span>
    </td>
    <td class="secondColumn">
      <a id="Apache_Axis_1.4_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Apache_Commons_BeanUtils_1.6_lib_url" class="name" href="http://commons.apache.org/beanutils/">Apache Commons BeanUtils</a>
      <span class="version">1.6</span>
    </td>
    <td class="secondColumn">
      <a id="Apache_Commons_BeanUtils_1.6_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Apache_Commons_CLI_1.2_lib_url" class="name" href="http://commons.apache.org/cli/">Apache Commons CLI</a>
      <span class="version">1.2</span>
    </td>
    <td class="secondColumn">
      <a id="Apache_Commons_CLI_1.2_license_url" class="licence" href="http://www.apache.org/licenses/">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Apache_Commons_Codec_1.14_lib_url" class="name" href="http://commons.apache.org/codec/">Apache Commons Codec</a>
      <span class="version">1.14</span>
    </td>
    <td class="secondColumn">
      <a id="Apache_Commons_Codec_1.14_license_url" class="licence" href="http://www.apache.org/licenses/">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Apache_Commons_Collections_3.2.2_lib_url" class="name" href="https://commons.apache.org/proper/commons-collections/">Apache Commons Collections</a>
      <span class="version">3.2.2</span>
    </td>
    <td class="secondColumn">
      <a id="Apache_Commons_Collections_3.2.2_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Apache_Commons_Compress_1.20_lib_url" class="name" href="http://commons.apache.org/proper/commons-compress/">Apache Commons Compress</a>
      <span class="version">1.20</span>
    </td>
    <td class="secondColumn">
      <a id="Apache_Commons_Compress_1.20_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Apache_Commons_Discovery_0.4_lib_url" class="name" href="http://jakarta.apache.org/commons/discovery/">Apache Commons Discovery</a>
      <span class="version">0.4</span>
    </td>
    <td class="secondColumn">
      <a id="Apache_Commons_Discovery_0.4_license_url" class="licence" href="http://www.apache.org/licenses/">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Apache_Commons_HTTPClient_3.1&nbsp;_(with_patch_by_JetBrains)_lib_url" class="name" href="http://hc.apache.org/httpclient-3.x">Apache Commons HTTPClient</a>
      <span class="version">3.1&nbsp; (with patch by JetBrains)</span>
    </td>
    <td class="secondColumn">
      <a id="Apache_Commons_HTTPClient_3.1&nbsp;_(with_patch_by_JetBrains)_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Apache_Commons_Imaging_(JetBrains's_fork)_1.0-RC-1_lib_url" class="name" href="https://github.com/JetBrains/intellij-deps-commons-imaging">Apache Commons Imaging (JetBrains's fork)</a>
      <span class="version">1.0-RC-1</span>
    </td>
    <td class="secondColumn">
      <a id="Apache_Commons_Imaging_(JetBrains's_fork)_1.0-RC-1_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Apache_Commons_IO_2.6_lib_url" class="name" href="http://commons.apache.org/io/">Apache Commons IO</a>
      <span class="version">2.6</span>
    </td>
    <td class="secondColumn">
      <a id="Apache_Commons_IO_2.6_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Apache_Commons_Lang_3.9_lib_url" class="name" href="http://commons.apache.org/proper/commons-lang/">Apache Commons Lang</a>
      <span class="version">3.9</span>
    </td>
    <td class="secondColumn">
      <a id="Apache_Commons_Lang_3.9_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Apache_Commons_Logging_1.2_lib_url" class="name" href="http://commons.apache.org/logging/">Apache Commons Logging</a>
      <span class="version">1.2</span>
    </td>
    <td class="secondColumn">
      <a id="Apache_Commons_Logging_1.2_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Apache_Commons_Text_1.7_lib_url" class="name" href="https://github.com/apache/commons-text">Apache Commons Text</a>
      <span class="version">1.7</span>
    </td>
    <td class="secondColumn">
      <a id="Apache_Commons_Text_1.7_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Apache_Lucene_2.4.1_lib_url" class="name" href="http://lucene.apache.org/java">Apache Lucene</a>
      <span class="version">2.4.1</span>
    </td>
    <td class="secondColumn">
      <a id="Apache_Lucene_2.4.1_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="ASM_(JetBrains's_fork)_8.0.1_lib_url" class="name" href="https://github.com/JetBrains/intellij-deps-asm">ASM (JetBrains's fork)</a>
      <span class="version">8.0.1</span>
    </td>
    <td class="secondColumn">
      <a id="ASM_(JetBrains's_fork)_8.0.1_license_url" class="licence" href="https://github.com/JetBrains/intellij-deps-asm/blob/master/LICENSE.txt">BSD</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Automaton_1.12-1_lib_url" class="name" href="http://www.brics.dk/automaton/">Automaton</a>
      <span class="version">1.12-1</span>
    </td>
    <td class="secondColumn">
      <a id="Automaton_1.12-1_license_url" class="licence" href="http://www.opensource.org/licenses/bsd-license.php">BSD</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="batik_1.12.0-8_lib_url" class="name" href="https://xmlgraphics.apache.org/batik/">batik</a>
      <span class="version">1.12.0-8</span>
    </td>
    <td class="secondColumn">
      <a id="batik_1.12.0-8_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="batik_1.12.0-8_lib_url" class="name" href="https://xmlgraphics.apache.org/batik/">batik</a>
      <span class="version">1.12.0-8</span>
    </td>
    <td class="secondColumn">
      <a id="batik_1.12.0-8_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="bouncy-castle-provider_1.65_lib_url" class="name" href="http://bouncycastle.org">bouncy-castle-provider</a>
      <span class="version">1.65</span>
    </td>
    <td class="secondColumn">
      <a id="bouncy-castle-provider_1.65_license_url" class="licence" href="http://bouncycastle.org/licence.html">MIT License</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Byte_Buddy_agent_1.10.1_lib_url" class="name" href="https://github.com/raphw/byte-buddy">Byte Buddy agent</a>
      <span class="version">1.10.1</span>
    </td>
    <td class="secondColumn">
      <a id="Byte_Buddy_agent_1.10.1_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="CGLib_3.2.4_lib_url" class="name" href="http://cglib.sourceforge.net/">CGLib</a>
      <span class="version">3.2.4</span>
    </td>
    <td class="secondColumn">
      <a id="CGLib_3.2.4_license_url" class="licence" href="http://www.apache.org/foundation/licence-FAQ.html">Apache</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="classworlds_1.1_lib_url" class="name" href="https://github.com/codehaus/classworlds">classworlds</a>
      <span class="version">1.1</span>
    </td>
    <td class="secondColumn">
      <a id="classworlds_1.1_license_url" class="licence" href="https://github.com/codehaus/classworlds/blob/master/classworlds/LICENSE.txt">codehaus</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Common_Annotations_for_the_JavaTM_Platform_API_1.3.2_lib_url" class="name" href="https://github.com/javaee/javax.annotation">Common Annotations for the JavaTM Platform API</a>
      <span class="version">1.3.2</span>
    </td>
    <td class="secondColumn">
      <a id="Common_Annotations_for_the_JavaTM_Platform_API_1.3.2_license_url" class="licence" href="https://oss.oracle.com/licenses/CDDL+GPL-1.1">CDDL 1.1 / GPL 2.0 + Classpath</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="dbus-java_3.2.1_lib_url" class="name" href="https://mvnrepository.com/artifact/com.github.hypfvieh/dbus-java">dbus-java</a>
      <span class="version">3.2.1</span>
    </td>
    <td class="secondColumn">
      <span class="licence">LGPL</span>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="debugger-memory-agent_0.0.11_lib_url" class="name" href="https://github.com/JetBrains/debugger-memory-agent">debugger-memory-agent</a>
      <span class="version">0.0.11</span>
    </td>
    <td class="secondColumn">
      <a id="debugger-memory-agent_0.0.11_license_url" class="licence" href="https://github.com/JetBrains/debugger-memory-agent/blob/master/LICENSE">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="delight-rhino-sandbox_0.0.11_lib_url" class="name" href="https://github.com/javadelight/delight-rhino-sandbox">delight-rhino-sandbox</a>
      <span class="version">0.0.11</span>
    </td>
    <td class="secondColumn">
      <a id="delight-rhino-sandbox_0.0.11_license_url" class="licence" href="https://github.com/javadelight/delight-rhino-sandbox/blob/master/LICENSE.TXT">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="DTDParser_1.13_lib_url" class="name" href="http://sourceforge.net/projects/dtdparser/">DTDParser</a>
      <span class="version">1.13</span>
    </td>
    <td class="secondColumn">
      <a id="DTDParser_1.13_license_url" class="licence" href="http://www.opensource.org/licenses/lgpl-2.1">LGPL</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Eclipse_JDT_Core_4.2.1_lib_url" class="name" href="http://www.eclipse.org/jdt/core/index.php">Eclipse JDT Core</a>
      <span class="version">4.2.1</span>
    </td>
    <td class="secondColumn">
      <span class="licence">CPL 1.0</span>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="EditorConfig_Java_Core_1.0_lib_url" class="name" href="https://github.com/editorconfig/editorconfig-core-java/">EditorConfig Java Core</a>
      <span class="version">1.0</span>
    </td>
    <td class="secondColumn">
      <a id="EditorConfig_Java_Core_1.0_license_url" class="licence" href="https://github.com/editorconfig/editorconfig-core-java/blob/master/LICENSE">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="error-prone-annotations_2.3.1_lib_url" class="name" href="https://github.com/google/error-prone">error-prone-annotations</a>
      <span class="version">2.3.1</span>
    </td>
    <td class="secondColumn">
      <a id="error-prone-annotations_2.3.1_license_url" class="licence" href="https://github.com/google/error-prone/blob/master/COPYING">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="fastutil_8.3.1-1_lib_url" class="name" href="https://github.com/vigna/fastutil">fastutil</a>
      <span class="version">8.3.1-1</span>
    </td>
    <td class="secondColumn">
      <a id="fastutil_8.3.1-1_license_url" class="licence" href="https://github.com/vigna/fastutil/blob/master/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="FiraCode_1.206_lib_url" class="name" href="https://github.com/tonsky/FiraCode/blob/master/LICENSE">FiraCode</a>
      <span class="version">1.206</span>
    </td>
    <td class="secondColumn">
      <span class="licence">OFL</span>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="FreeMarker_2.3.15_lib_url" class="name" href="http://freemarker.sourceforge.net/">FreeMarker</a>
      <span class="version">2.3.15</span>
    </td>
    <td class="secondColumn">
      <span class="licence">BSD</span>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="FreeMarker_2.3.20_lib_url" class="name" href="http://freemarker.sourceforge.net/">FreeMarker</a>
      <span class="version">2.3.20</span>
    </td>
    <td class="secondColumn">
      <span class="licence">BSD</span>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Gradle_6.5_lib_url" class="name" href="http://gradle.org/">Gradle</a>
      <span class="version">6.5</span>
    </td>
    <td class="secondColumn">
      <a id="Gradle_6.5_license_url" class="licence" href="http://gradle.org/license">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Groovy_2.5.11_lib_url" class="name" href="https://groovy-lang.org/">Groovy</a>
      <span class="version">2.5.11</span>
    </td>
    <td class="secondColumn">
      <a id="Groovy_2.5.11_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Groovy_JSON_2.5.11_lib_url" class="name" href="https://groovy-lang.org/">Groovy JSON</a>
      <span class="version">2.5.11</span>
    </td>
    <td class="secondColumn">
      <a id="Groovy_JSON_2.5.11_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Groovy_JSR-223_2.5.11_lib_url" class="name" href="https://groovy-lang.org/">Groovy JSR-223</a>
      <span class="version">2.5.11</span>
    </td>
    <td class="secondColumn">
      <a id="Groovy_JSR-223_2.5.11_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Groovy_Templates_2.5.11_lib_url" class="name" href="https://groovy-lang.org/">Groovy Templates</a>
      <span class="version">2.5.11</span>
    </td>
    <td class="secondColumn">
      <a id="Groovy_Templates_2.5.11_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Groovy_XML_2.5.11_lib_url" class="name" href="https://groovy-lang.org/">Groovy XML</a>
      <span class="version">2.5.11</span>
    </td>
    <td class="secondColumn">
      <a id="Groovy_XML_2.5.11_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Gson_2.8.6_lib_url" class="name" href="http://code.google.com/p/google-gson/">Gson</a>
      <span class="version">2.8.6</span>
    </td>
    <td class="secondColumn">
      <a id="Gson_2.8.6_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Guava_29.0-jre_lib_url" class="name" href="http://code.google.com/p/guava-libraries/">Guava</a>
      <span class="version">29.0-jre</span>
    </td>
    <td class="secondColumn">
      <a id="Guava_29.0-jre_license_url" class="licence" href="http://ant.apache.org/license.html">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="HttpComponents_HttpClient_4.5.12_lib_url" class="name" href="http://hc.apache.org/httpcomponents-client-ga/index.html">HttpComponents HttpClient</a>
      <span class="version">4.5.12</span>
    </td>
    <td class="secondColumn">
      <a id="HttpComponents_HttpClient_4.5.12_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="HttpComponents_HttpClient_Fluent_API_4.5.12_lib_url" class="name" href="http://hc.apache.org/httpcomponents-client-ga/index.html">HttpComponents HttpClient Fluent API</a>
      <span class="version">4.5.12</span>
    </td>
    <td class="secondColumn">
      <a id="HttpComponents_HttpClient_Fluent_API_4.5.12_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="imgscalr_4.2_lib_url" class="name" href="https://github.com/thebuzzmedia/imgscalr">imgscalr</a>
      <span class="version">4.2</span>
    </td>
    <td class="secondColumn">
      <a id="imgscalr_4.2_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Inconsolata_001.010_lib_url" class="name" href="https://github.com/google/fonts/blob/master/ofl/inconsolata/OFL.txt">Inconsolata</a>
      <span class="version">001.010</span>
    </td>
    <td class="secondColumn">
      <span class="licence">OFL</span>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="indriya_1.2_lib_url" class="name" href="https://github.com/unitsofmeasurement/indriya">indriya</a>
      <span class="version">1.2</span>
    </td>
    <td class="secondColumn">
      <a id="indriya_1.2_license_url" class="licence" href="https://github.com/unitsofmeasurement/indriya/blob/master/LICENSE">BSD</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="ini4j_(JetBrains's_fork)_0.5.5-2_lib_url" class="name" href="https://github.com/JetBrains/intellij-deps-ini4j">ini4j (JetBrains's fork)</a>
      <span class="version">0.5.5-2</span>
    </td>
    <td class="secondColumn">
      <a id="ini4j_(JetBrains's_fork)_0.5.5-2_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="ISO_RELAX_20030108_lib_url" class="name" href="http://sourceforge.net/projects/iso-relax/">ISO RELAX</a>
      <span class="version">20030108</span>
    </td>
    <td class="secondColumn">
      <a id="ISO_RELAX_20030108_license_url" class="licence" href="http://www.opensource.org/licenses/mit-license.html">MIT License</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Jackson_2.10.3_lib_url" class="name" href="https://github.com/FasterXML/jackson">Jackson</a>
      <span class="version">2.10.3</span>
    </td>
    <td class="secondColumn">
      <a id="Jackson_2.10.3_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Jackson_Databind_2.10.3_lib_url" class="name" href="https://github.com/FasterXML/jackson-databind">Jackson Databind</a>
      <span class="version">2.10.3</span>
    </td>
    <td class="secondColumn">
      <a id="Jackson_Databind_2.10.3_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Jackson_Module_Kotlin_2.10.3_lib_url" class="name" href="https://github.com/FasterXML/jackson-module-kotlin">Jackson Module Kotlin</a>
      <span class="version">2.10.3</span>
    </td>
    <td class="secondColumn">
      <a id="Jackson_Module_Kotlin_2.10.3_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Jakarta_ORO_2.0.8_lib_url" class="name" href="http://jakarta.apache.org/oro/">Jakarta ORO</a>
      <span class="version">2.0.8</span>
    </td>
    <td class="secondColumn">
      <a id="Jakarta_ORO_2.0.8_license_url" class="licence" href="http://svn.apache.org/repos/asf/jakarta/oro/trunk/LICENSE">Apache</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Java_Compatibility_1.0.1_lib_url" class="name" href="https://github.com/JetBrains/intellij-deps-java-compatibility">Java Compatibility</a>
      <span class="version">1.0.1</span>
    </td>
    <td class="secondColumn">
      <a id="Java_Compatibility_1.0.1_license_url" class="licence" href="https://raw.githubusercontent.com/JetBrains/intellij-deps-java-compatibility/master/LICENSE">GPL 2.0 + Classpath</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Java_String_Similarity_1.2.1_lib_url" class="name" href="https://github.com/tdebatty/java-string-similarity">Java String Similarity</a>
      <span class="version">1.2.1</span>
    </td>
    <td class="secondColumn">
      <a id="Java_String_Similarity_1.2.1_license_url" class="licence" href="https://github.com/tdebatty/java-string-similarity/blob/master/LICENSE.md">MIT</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="JavaBeans_Activation_Framework_1.2.0_lib_url" class="name" href="https://github.com/javaee/activation">JavaBeans Activation Framework</a>
      <span class="version">1.2.0</span>
    </td>
    <td class="secondColumn">
      <a id="JavaBeans_Activation_Framework_1.2.0_license_url" class="licence" href="https://oss.oracle.com/licenses/CDDL+GPL-1.1">CDDL 1.1 / GPL 2.0 + Classpath</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="javawriter_null_lib_url" class="name" href="https://github.com/square/javawriter">javawriter</a>
      <span class="version"></span>
    </td>
    <td class="secondColumn">
      <a id="javawriter_null_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="JAXB_(Java_Architecture_for_XML_Binding)_API_2.3.1_lib_url" class="name" href="https://github.com/javaee/jaxb-spec">JAXB (Java Architecture for XML Binding) API</a>
      <span class="version">2.3.1</span>
    </td>
    <td class="secondColumn">
      <a id="JAXB_(Java_Architecture_for_XML_Binding)_API_2.3.1_license_url" class="licence" href="https://oss.oracle.com/licenses/CDDL+GPL-1.1">CDDL 1.1 / GPL 2.0 + Classpath</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="JAXB_(JSR_222)_Reference_Implementation_2.3.1_lib_url" class="name" href="https://github.com/javaee/jaxb-v2">JAXB (JSR 222) Reference Implementation</a>
      <span class="version">2.3.1</span>
    </td>
    <td class="secondColumn">
      <a id="JAXB_(JSR_222)_Reference_Implementation_2.3.1_license_url" class="licence" href="https://oss.oracle.com/licenses/CDDL+GPL-1.1">CDDL 1.1 / GPL 2.0 + Classpath</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Jaxen_1.2.0_lib_url" class="name" href="https://github.com/jaxen-xpath/jaxen">Jaxen</a>
      <span class="version">1.2.0</span>
    </td>
    <td class="secondColumn">
      <a id="Jaxen_1.2.0_license_url" class="licence" href="https://github.com/jaxen-xpath/jaxen/blob/master/LICENSE.txt">modified Apache</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="jb-jdi_2.2.2_lib_url" class="name" href="https://github.com/JetBrains/intellij-deps-jdi">jb-jdi</a>
      <span class="version">2.2.2</span>
    </td>
    <td class="secondColumn">
      <a id="jb-jdi_2.2.2_license_url" class="licence" href="https://raw.githubusercontent.com/JetBrains/intellij-deps-jdi/master/LICENSE.txt">GPL 2.0 + Classpath</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="JCEF_81.2.24-gc0b313d-chromium-81.0.4044.113_lib_url" class="name" href="https://bitbucket.org/chromiumembedded/java-cef">JCEF</a>
      <span class="version">81.2.24-gc0b313d-chromium-81.0.4044.113</span>
    </td>
    <td class="secondColumn">
      <a id="JCEF_81.2.24-gc0b313d-chromium-81.0.4044.113_license_url" class="licence" href="https://bitbucket.org/chromiumembedded/java-cef/src/master/LICENSE.txt">Permissive</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="JCIP_Annotations_1.0_lib_url" class="name" href="http://www.jcip.net">JCIP Annotations</a>
      <span class="version">1.0</span>
    </td>
    <td class="secondColumn">
      <a id="JCIP_Annotations_1.0_license_url" class="licence" href="http://creativecommons.org/licenses/by/2.5">Creative Commons Attribution License</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="JCodings_1.0.44_lib_url" class="name" href="https://github.com/jruby/jcodings">JCodings</a>
      <span class="version">1.0.44</span>
    </td>
    <td class="secondColumn">
      <a id="JCodings_1.0.44_license_url" class="licence" href="https://github.com/jruby/jcodings/blob/master/pom.xml">MIT</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="JDOM_(JetBrains's_fork)_2.0.6_lib_url" class="name" href="https://github.com/JetBrains/intellij-deps-jdom">JDOM (JetBrains's fork)</a>
      <span class="version">2.0.6</span>
    </td>
    <td class="secondColumn">
      <a id="JDOM_(JetBrains's_fork)_2.0.6_license_url" class="licence" href="https://github.com/JetBrains/intellij-deps-jdom/blob/master/LICENSE.txt">modified Apache</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="JediTerm_2.29_lib_url" class="name" href="https://github.com/JetBrains/jediterm">JediTerm</a>
      <span class="version">2.29</span>
    </td>
    <td class="secondColumn">
      <a id="JediTerm_2.29_license_url" class="licence" href="https://github.com/JetBrains/jediterm/blob/master/LICENSE-LGPLv3.txt">LGPL 3</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="JetBrains_Annotations_19.0.0_lib_url" class="name" href="https://github.com/JetBrains/java-annotations">JetBrains Annotations</a>
      <span class="version">19.0.0</span>
    </td>
    <td class="secondColumn">
      <a id="JetBrains_Annotations_19.0.0_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="JetBrains_Annotations_for_Java_5_19.0.0_lib_url" class="name" href="https://github.com/JetBrains/java-annotations">JetBrains Annotations for Java 5</a>
      <span class="version">19.0.0</span>
    </td>
    <td class="secondColumn">
      <a id="JetBrains_Annotations_for_Java_5_19.0.0_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="jetCheck_0.2.2_lib_url" class="name" href="https://github.com/JetBrains/jetCheck">jetCheck</a>
      <span class="version">0.2.2</span>
    </td>
    <td class="secondColumn">
      <a id="jetCheck_0.2.2_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="JGit_4.0_lib_url" class="name" href="https://eclipse.org/jgit/">JGit</a>
      <span class="version">4.0</span>
    </td>
    <td class="secondColumn">
      <a id="JGit_4.0_license_url" class="licence" href="http://www.eclipse.org/org/documents/edl-v10.php">Eclipse Distribution License 1.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="JGoodies_Forms_1.1-preview_lib_url" class="name" href="http://www.jgoodies.com/freeware/libraries/forms/">JGoodies Forms</a>
      <span class="version">1.1-preview</span>
    </td>
    <td class="secondColumn">
      <a id="JGoodies_Forms_1.1-preview_license_url" class="licence" href="https://opensource.org/licenses/bsd-license.html">BSD</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="jgraphx_3.4.1.3_lib_url" class="name" href="https://github.com/jgraph/jgraphx">jgraphx</a>
      <span class="version">3.4.1.3</span>
    </td>
    <td class="secondColumn">
      <span class="licence">BSD</span>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="JNA_5.6.0_lib_url" class="name" href="https://github.com/java-native-access/jna">JNA</a>
      <span class="version">5.6.0</span>
    </td>
    <td class="secondColumn">
      <a id="JNA_5.6.0_license_url" class="licence" href="http://www.opensource.org/licenses/lgpl-2.1.php">LGPL 2.1</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Joni_2.1.32_lib_url" class="name" href="https://github.com/jruby/joni">Joni</a>
      <span class="version">2.1.32</span>
    </td>
    <td class="secondColumn">
      <a id="Joni_2.1.32_license_url" class="licence" href="https://github.com/jruby/joni/blob/master/LICENSE">MIT</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="JSch_0.1.55_lib_url" class="name" href="http://www.jcraft.com/jsch/">JSch</a>
      <span class="version">0.1.55</span>
    </td>
    <td class="secondColumn">
      <a id="JSch_0.1.55_license_url" class="licence" href="http://www.jcraft.com/jsch/LICENSE.txt">BSD</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="json-path_0.8.0_lib_url" class="name" href="http://code.google.com/p/json-path/">json-path</a>
      <span class="version">0.8.0</span>
    </td>
    <td class="secondColumn">
      <a id="json-path_0.8.0_license_url" class="licence" href="http://apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="json-smart_1.1.1_lib_url" class="name" href="http://code.google.com/p/json-smart/">json-smart</a>
      <span class="version">1.1.1</span>
    </td>
    <td class="secondColumn">
      <a id="json-smart_1.1.1_license_url" class="licence" href="http://apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="JSON_Schema_(schema.json)_draft-04_lib_url" class="name" href="http://json-schema.org/draft-04/schema#">JSON Schema (schema.json)</a>
      <span class="version">draft-04</span>
    </td>
    <td class="secondColumn">
      <a id="JSON_Schema_(schema.json)_draft-04_license_url" class="licence" href="https://opensource.org/licenses/BSD-2-Clause">Simplified BSD License</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="JSON_Schema_(schema06.json)_draft-06_lib_url" class="name" href="http://json-schema.org/draft-06/schema#">JSON Schema (schema06.json)</a>
      <span class="version">draft-06</span>
    </td>
    <td class="secondColumn">
      <a id="JSON_Schema_(schema06.json)_draft-06_license_url" class="licence" href="https://opensource.org/licenses/BSD-2-Clause">Simplified BSD License</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="JSON_Schema_(schema07.json)_draft-07_lib_url" class="name" href="http://json-schema.org/draft-07/schema#">JSON Schema (schema07.json)</a>
      <span class="version">draft-07</span>
    </td>
    <td class="secondColumn">
      <a id="JSON_Schema_(schema07.json)_draft-07_license_url" class="licence" href="https://opensource.org/licenses/BSD-2-Clause">Simplified BSD License</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="jsoup_1.12.1_lib_url" class="name" href="http://jsoup.org">jsoup</a>
      <span class="version">1.12.1</span>
    </td>
    <td class="secondColumn">
      <a id="jsoup_1.12.1_license_url" class="licence" href="http://jsoup.org/license">MIT</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="jsr305_snapshot_lib_url" class="name" href="http://code.google.com/p/jsr-305/">jsr305</a>
      <span class="version">snapshot</span>
    </td>
    <td class="secondColumn">
      <a id="jsr305_snapshot_license_url" class="licence" href="http://code.google.com/p/jsr-305/source/browse/trunk/ri/LICENSE">BSD</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="JUnit_4.12_lib_url" class="name" href="http://junit.org/">JUnit</a>
      <span class="version">4.12</span>
    </td>
    <td class="secondColumn">
      <span class="licence">CPL 1.0</span>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="kotlinx.html_0.6.11_lib_url" class="name" href="https://github.com/Kotlin/kotlinx.html">kotlinx.html</a>
      <span class="version">0.6.11</span>
    </td>
    <td class="secondColumn">
      <a id="kotlinx.html_0.6.11_license_url" class="licence" href="https://github.com/Kotlin/kotlinx.html/blob/master/LICENSE">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Kryo_2.24.0_lib_url" class="name" href="https://github.com/EsotericSoftware/kryo">Kryo</a>
      <span class="version">2.24.0</span>
    </td>
    <td class="secondColumn">
      <a id="Kryo_2.24.0_license_url" class="licence" href="https://github.com/EsotericSoftware/kryo/blob/master/LICENSE.md">New BSD License</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Layout_Inspector_Protos_27.0.0.0_lib_url" class="name" href="http://source.android.com/">Layout Inspector Protos</a>
      <span class="version">27.0.0.0</span>
    </td>
    <td class="secondColumn">
      <a id="Layout_Inspector_Protos_27.0.0.0_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Live_SQL_Protos_27.0.0.0_lib_url" class="name" href="http://source.android.com/">Live SQL Protos</a>
      <span class="version">27.0.0.0</span>
    </td>
    <td class="secondColumn">
      <a id="Live_SQL_Protos_27.0.0.0_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Log4j_1.2.17_lib_url" class="name" href="http://logging.apache.org/log4j/1.2/index.html">Log4j</a>
      <span class="version">1.2.17</span>
    </td>
    <td class="secondColumn">
      <a id="Log4j_1.2.17_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="lz4-java_1.7.1_lib_url" class="name" href="https://github.com/lz4/lz4-java">lz4-java</a>
      <span class="version">1.7.1</span>
    </td>
    <td class="secondColumn">
      <a id="lz4-java_1.7.1_license_url" class="licence" href="https://github.com/lz4/lz4-java/blob/master/LICENSE.txt">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="MarkdownJ_0.4.2_lib_url" class="name" href="https://github.com/myabc/markdownj">MarkdownJ</a>
      <span class="version">0.4.2</span>
    </td>
    <td class="secondColumn">
      <a id="MarkdownJ_0.4.2_license_url" class="licence" href="http://opensource.org/licenses/BSD-3-Clause">New BSD</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="maven-2.2.1-uber_2.2.1_lib_url" class="name" href="http://maven.apache.org/">maven-2.2.1-uber</a>
      <span class="version">2.2.1</span>
    </td>
    <td class="secondColumn">
      <a id="maven-2.2.1-uber_2.2.1_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Maven3_3.6.1_lib_url" class="name" href="http://maven.apache.org/">Maven3</a>
      <span class="version">3.6.1</span>
    </td>
    <td class="secondColumn">
      <a id="Maven3_3.6.1_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Maven_2.2.1_lib_url" class="name" href="http://maven.apache.org/">Maven</a>
      <span class="version">2.2.1</span>
    </td>
    <td class="secondColumn">
      <a id="Maven_2.2.1_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Maven_Resolver_Provider_3.6.1_lib_url" class="name" href="http://maven.apache.org/ref/3.6.1/maven-resolver-provider/">Maven Resolver Provider</a>
      <span class="version">3.6.1</span>
    </td>
    <td class="secondColumn">
      <a id="Maven_Resolver_Provider_3.6.1_license_url" class="licence" href="http://apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="mercurial_prompthooks__lib_url" class="name" href="https://github.com/willemv/mercurial_prompthooks">mercurial_prompthooks</a>
      <span class="version"></span>
    </td>
    <td class="secondColumn">
      <a id="mercurial_prompthooks__license_url" class="licence" href="https://github.com/willemv/mercurial_prompthooks/blob/master/LICENSE.txt">GPLv2 (used as hg extension called from hg executable)</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Microba_0.4.2_lib_url" class="name" href="http://microba.sourceforge.net/">Microba</a>
      <span class="version">0.4.2</span>
    </td>
    <td class="secondColumn">
      <a id="Microba_0.4.2_license_url" class="licence" href="http://microba.sourceforge.net/license.txt">BSD</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="MigLayout_5.2_lib_url" class="name" href="http://www.miglayout.com/">MigLayout</a>
      <span class="version">5.2</span>
    </td>
    <td class="secondColumn">
      <a id="MigLayout_5.2_license_url" class="licence" href="http://www.miglayout.com/mavensite/license.html">BSD</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="minlog_1.2_lib_url" class="name" href="https://github.com/EsotericSoftware/minlog">minlog</a>
      <span class="version">1.2</span>
    </td>
    <td class="secondColumn">
      <a id="minlog_1.2_license_url" class="licence" href="http://opensource.org/licenses/BSD-3-Clause">BSD</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="morfologik-fsa-builders_2.1.6_lib_url" class="name" href="https://github.com/morfologik/morfologik-stemming">morfologik-fsa-builders</a>
      <span class="version">2.1.6</span>
    </td>
    <td class="secondColumn">
      <a id="morfologik-fsa-builders_2.1.6_license_url" class="licence" href="http://www.opensource.org/licenses/bsd-license.php">BSD</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="morfologik-fsa_2.1.6_lib_url" class="name" href="https://github.com/morfologik/morfologik-stemming">morfologik-fsa</a>
      <span class="version">2.1.6</span>
    </td>
    <td class="secondColumn">
      <a id="morfologik-fsa_2.1.6_license_url" class="licence" href="http://www.opensource.org/licenses/bsd-license.php">BSD</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="morfologik-speller_2.1.6_lib_url" class="name" href="https://github.com/morfologik/morfologik-stemming">morfologik-speller</a>
      <span class="version">2.1.6</span>
    </td>
    <td class="secondColumn">
      <a id="morfologik-speller_2.1.6_license_url" class="licence" href="http://www.opensource.org/licenses/bsd-license.php">BSD</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="morfologik-stemming_2.1.6_lib_url" class="name" href="https://github.com/morfologik/morfologik-stemming">morfologik-stemming</a>
      <span class="version">2.1.6</span>
    </td>
    <td class="secondColumn">
      <a id="morfologik-stemming_2.1.6_license_url" class="licence" href="http://www.opensource.org/licenses/bsd-license.php">BSD</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Moshi_1.6.0_lib_url" class="name" href="https://github.com/square/moshi">Moshi</a>
      <span class="version">1.6.0</span>
    </td>
    <td class="secondColumn">
      <a id="Moshi_1.6.0_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="NanoXML_2.2.3_lib_url" class="name" href="http://mvnrepository.com/artifact/be.cyberelf.nanoxml/nanoxml/2.2.3">NanoXML</a>
      <span class="version">2.2.3</span>
    </td>
    <td class="secondColumn">
      <a id="NanoXML_2.2.3_license_url" class="licence" href="http://www.opensource.org/licenses/zlib-license.html">zlib/libpng</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="nekohtml_1.9.22_lib_url" class="name" href="http://nekohtml.sourceforge.net/">nekohtml</a>
      <span class="version">1.9.22</span>
    </td>
    <td class="secondColumn">
      <a id="nekohtml_1.9.22_license_url" class="licence" href="http://apache.org/licenses/LICENSE-2.0.txt">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="net.loomchild.segment_2.0.1_lib_url" class="name" href="https://github.com/loomchild/segment">net.loomchild.segment</a>
      <span class="version">2.0.1</span>
    </td>
    <td class="secondColumn">
      <a id="net.loomchild.segment_2.0.1_license_url" class="licence" href="https://github.com/loomchild/segment/blob/master/LICENSE.txt">MIT</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="netty-codec-http_4.1.47.Final_lib_url" class="name" href="http://netty.io">netty-codec-http</a>
      <span class="version">4.1.47.Final</span>
    </td>
    <td class="secondColumn">
      <a id="netty-codec-http_4.1.47.Final_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="netty-handler-proxy_4.1.47.Final_lib_url" class="name" href="http://netty.io">netty-handler-proxy</a>
      <span class="version">4.1.47.Final</span>
    </td>
    <td class="secondColumn">
      <a id="netty-handler-proxy_4.1.47.Final_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="ngram-slp_0.0.2_lib_url" class="name" href="https://github.com/SLP-team/SLP-Core">ngram-slp</a>
      <span class="version">0.0.2</span>
    </td>
    <td class="secondColumn">
      <a id="ngram-slp_0.0.2_license_url" class="licence" href="https://github.com/SLP-team/SLP-Core/blob/master/LICENSE">MIT License</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Objenesis_3.1_lib_url" class="name" href="http://objenesis.org/">Objenesis</a>
      <span class="version">3.1</span>
    </td>
    <td class="secondColumn">
      <a id="Objenesis_3.1_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Okio_1.14.0_lib_url" class="name" href="https://github.com/square/okio">Okio</a>
      <span class="version">1.14.0</span>
    </td>
    <td class="secondColumn">
      <a id="Okio_1.14.0_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="OWASP_Java_HTML_Sanitizer_20191001.1_lib_url" class="name" href="https://github.com/OWASP/java-html-sanitizer/">OWASP Java HTML Sanitizer</a>
      <span class="version">20191001.1</span>
    </td>
    <td class="secondColumn">
      <a id="OWASP_Java_HTML_Sanitizer_20191001.1_license_url" class="licence" href="https://github.com/OWASP/java-html-sanitizer/blob/master/COPYING">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="PEPK_null_lib_url" class="name" href="http://source.android.com/">PEPK</a>
      <span class="version"></span>
    </td>
    <td class="secondColumn">
      <a id="PEPK_null_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="plexus-archiver_3.0.3_lib_url" class="name" href="https://github.com/codehaus-plexus/plexus-archiver">plexus-archiver</a>
      <span class="version">3.0.3</span>
    </td>
    <td class="secondColumn">
      <a id="plexus-archiver_3.0.3_license_url" class="licence" href="http://apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="plexus-classworlds_2.4_lib_url" class="name" href="https://github.com/codehaus-plexus/plexus-classworlds">plexus-classworlds</a>
      <span class="version">2.4</span>
    </td>
    <td class="secondColumn">
      <a id="plexus-classworlds_2.4_license_url" class="licence" href="http://apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Plexus_Utils_3.2.0_lib_url" class="name" href="http://plexus.codehaus.org/plexus-utils">Plexus Utils</a>
      <span class="version">3.2.0</span>
    </td>
    <td class="secondColumn">
      <a id="Plexus_Utils_3.2.0_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="protobuf_3.5.1_lib_url" class="name" href="http://code.google.com/p/protobuf/">protobuf</a>
      <span class="version">3.5.1</span>
    </td>
    <td class="secondColumn">
      <a id="protobuf_3.5.1_license_url" class="licence" href="https://github.com/google/protobuf/blob/master/LICENSE">New BSD</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Proxy_Vole_(JetBrains's_fork)_1.0.5-jb.2_lib_url" class="name" href="https://github.com/JetBrains/intellij-deps-proxy-vole">Proxy Vole (JetBrains's fork)</a>
      <span class="version">1.0.5-jb.2</span>
    </td>
    <td class="secondColumn">
      <a id="Proxy_Vole_(JetBrains's_fork)_1.0.5-jb.2_license_url" class="licence" href="https://github.com/MarkusBernhardt/proxy-vole/blob/master/LICENSE.md">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="pty4j_0.9.6_lib_url" class="name" href="https://github.com/JetBrains/pty4j">pty4j</a>
      <span class="version">0.9.6</span>
    </td>
    <td class="secondColumn">
      <span class="licence">Eclipse Public License v1.0</span>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="PureJavaComm_0.0.11.1_lib_url" class="name" href="https://github.com/nyholku/purejavacomm">PureJavaComm</a>
      <span class="version">0.0.11.1</span>
    </td>
    <td class="secondColumn">
      <span class="licence">BSD</span>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="qdox-java-parser_2.0-M10_lib_url" class="name" href="https://github.com/paul-hammant/qdox">qdox-java-parser</a>
      <span class="version">2.0-M10</span>
    </td>
    <td class="secondColumn">
      <a id="qdox-java-parser_2.0-M10_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Relax_NG_Object_Model_null_lib_url" class="name" href="https://github.com/kohsuke/rngom">Relax NG Object Model</a>
      <span class="version"></span>
    </td>
    <td class="secondColumn">
      <a id="Relax_NG_Object_Model_null_license_url" class="licence" href="http://www.opensource.org/licenses/mit-license.php">MIT</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Rhino_JavaScript_Engine_1.7.12_lib_url" class="name" href="http://www.mozilla.org/rhino/">Rhino JavaScript Engine</a>
      <span class="version">1.7.12</span>
    </td>
    <td class="secondColumn">
      <a id="Rhino_JavaScript_Engine_1.7.12_license_url" class="licence" href="http://www.mozilla.org/MPL/MPL-1.1.html">MPL 1.1</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="RMI_Stubs_null_lib_url" class="name" href="https://confluence.jetbrains.com/display/CONTEST/XSLT-Debugger">RMI Stubs</a>
      <span class="version"></span>
    </td>
    <td class="secondColumn">
      <a id="RMI_Stubs_null_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Roboto_1.100141_lib_url" class="name" href="https://github.com/google/roboto/blob/master/LICENSE">Roboto</a>
      <span class="version">1.100141</span>
    </td>
    <td class="secondColumn">
      <a id="Roboto_1.100141_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="sa-jdwp_1.14_lib_url" class="name" href="https://github.com/JetBrains/jdk-sa-jdwp">sa-jdwp</a>
      <span class="version">1.14</span>
    </td>
    <td class="secondColumn">
      <a id="sa-jdwp_1.14_license_url" class="licence" href="https://raw.githubusercontent.com/JetBrains/jdk-sa-jdwp/master/LICENSE.txt">GPL 2.0 + Classpath</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Saxon-6.5.5_6.5.5_lib_url" class="name" href="http://saxon.sourceforge.net/">Saxon-6.5.5</a>
      <span class="version">6.5.5</span>
    </td>
    <td class="secondColumn">
      <a id="Saxon-6.5.5_6.5.5_license_url" class="licence" href="http://www.mozilla.org/MPL/">Mozilla Public License</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Saxon-9HE_9_lib_url" class="name" href="http://saxon.sourceforge.net/">Saxon-9HE</a>
      <span class="version">9</span>
    </td>
    <td class="secondColumn">
      <a id="Saxon-9HE_9_license_url" class="licence" href="http://www.mozilla.org/MPL/">Mozilla Public License</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Slf4j_1.7.25_lib_url" class="name" href="http://slf4j.org/">Slf4j</a>
      <span class="version">1.7.25</span>
    </td>
    <td class="secondColumn">
      <a id="Slf4j_1.7.25_license_url" class="licence" href="http://slf4j.org/license.html">MIT License</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="snakeyaml-engine_2.1_lib_url" class="name" href="https://bitbucket.org/asomov/snakeyaml-engine/src">snakeyaml-engine</a>
      <span class="version">2.1</span>
    </td>
    <td class="secondColumn">
      <a id="snakeyaml-engine_2.1_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="SnakeYAML_1.26_lib_url" class="name" href="https://bitbucket.org/asomov/snakeyaml">SnakeYAML</a>
      <span class="version">1.26</span>
    </td>
    <td class="secondColumn">
      <a id="SnakeYAML_1.26_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Sonatype_Nexus:_Indexer_1.2.3_lib_url" class="name" href="http://nexus.sonatype.org/">Sonatype Nexus: Indexer</a>
      <span class="version">1.2.3</span>
    </td>
    <td class="secondColumn">
      <a id="Sonatype_Nexus:_Indexer_1.2.3_license_url" class="licence" href="http://www.eclipse.org/org/documents/epl-v10.html">Eclipse Public License v1.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Sonatype_Nexus:_Indexer_null_lib_url" class="name" href="http://nexus.sonatype.org/">Sonatype Nexus: Indexer</a>
      <span class="version"></span>
    </td>
    <td class="secondColumn">
      <a id="Sonatype_Nexus:_Indexer_null_license_url" class="licence" href="http://www.eclipse.org/org/documents/epl-v10.html">Eclipse Public License v1.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="SourceCodePro_2.010_lib_url" class="name" href="https://github.com/adobe-fonts/source-code-pro">SourceCodePro</a>
      <span class="version">2.010</span>
    </td>
    <td class="secondColumn">
      <a id="SourceCodePro_2.010_license_url" class="licence" href="https://github.com/adobe-fonts/source-code-pro/blob/master/LICENSE.md">OFL</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Spantable_patched_lib_url" class="name" href="https://android.googlesource.com/platform/prebuilts/tools/+/master/common/spantable/">Spantable</a>
      <span class="version">patched</span>
    </td>
    <td class="secondColumn">
      <a id="Spantable_patched_license_url" class="licence" href="http://www.gnu.org/licenses/lgpl.html">LGPL 2.1</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="StreamEx_0.7.2_lib_url" class="name" href="https://github.com/amaembo/streamex">StreamEx</a>
      <span class="version">0.7.2</span>
    </td>
    <td class="secondColumn">
      <a id="StreamEx_0.7.2_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="swingx_1.6.2-2_lib_url" class="name" href="http://java.net/downloads/swingx/">swingx</a>
      <span class="version">1.6.2-2</span>
    </td>
    <td class="secondColumn">
      <a id="swingx_1.6.2-2_license_url" class="licence" href="http://www.opensource.org/licenses/lgpl-2.1.php">LGPL 2.1</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="TestNG_6.8.21_lib_url" class="name" href="http://testng.org/doc/">TestNG</a>
      <span class="version">6.8.21</span>
    </td>
    <td class="secondColumn">
      <a id="TestNG_6.8.21_license_url" class="licence" href="https://github.com/cbeust/testng/blob/master/LICENSE.txt">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Trove4j_(JetBrains's_fork)_1.0.20200330_lib_url" class="name" href="https://github.com/JetBrains/intellij-deps-trove4j">Trove4j (JetBrains's fork)</a>
      <span class="version">1.0.20200330</span>
    </td>
    <td class="secondColumn">
      <a id="Trove4j_(JetBrains's_fork)_1.0.20200330_license_url" class="licence" href="https://github.com/JetBrains/intellij-deps-trove4j/blob/master/LICENSE.txt">LGPL</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="TwelveMonkeys_ImageIO_3.5_lib_url" class="name" href="https://github.com/haraldk/TwelveMonkeys">TwelveMonkeys ImageIO</a>
      <span class="version">3.5</span>
    </td>
    <td class="secondColumn">
      <a id="TwelveMonkeys_ImageIO_3.5_license_url" class="licence" href="https://github.com/haraldk/TwelveMonkeys#license">BSD</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="unit-api_1.0_lib_url" class="name" href="https://github.com/unitsofmeasurement/unit-api">unit-api</a>
      <span class="version">1.0</span>
    </td>
    <td class="secondColumn">
      <a id="unit-api_1.0_license_url" class="licence" href="https://github.com/unitsofmeasurement/unit-api/blob/master/LICENSE">BSD</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="uom-lib-common_1.1_lib_url" class="name" href="https://github.com/unitsofmeasurement/uom-lib">uom-lib-common</a>
      <span class="version">1.1</span>
    </td>
    <td class="secondColumn">
      <a id="uom-lib-common_1.1_license_url" class="licence" href="https://github.com/unitsofmeasurement/uom-lib/blob/master/LICENSE">BSD</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Velocity_1.7_lib_url" class="name" href="http://velocity.apache.org/">Velocity</a>
      <span class="version">1.7</span>
    </td>
    <td class="secondColumn">
      <a id="Velocity_1.7_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Visual_Studio_Code_1.33.1_lib_url" class="name" href="https://github.com/Microsoft/vscode/">Visual Studio Code</a>
      <span class="version">1.33.1</span>
    </td>
    <td class="secondColumn">
      <a id="Visual_Studio_Code_1.33.1_license_url" class="licence" href="https://github.com/Microsoft/vscode-react-native/blob/master/LICENSE.txt">MIT</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="winp_1.28_lib_url" class="name" href="https://github.com/kohsuke/winp">winp</a>
      <span class="version">1.28</span>
    </td>
    <td class="secondColumn">
      <a id="winp_1.28_license_url" class="licence" href="http://opensource.org/licenses/mit-license.php">MIT</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Xalan_2.7.2_lib_url" class="name" href="http://xalan.apache.org/xalan-j/">Xalan</a>
      <span class="version">2.7.2</span>
    </td>
    <td class="secondColumn">
      <a id="Xalan_2.7.2_license_url" class="licence" href="http://xalan.apache.org/xalan-j/#license">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Xerces_2.12.0_lib_url" class="name" href="http://xerces.apache.org/xerces2-j/">Xerces</a>
      <span class="version">2.12.0</span>
    </td>
    <td class="secondColumn">
      <a id="Xerces_2.12.0_license_url" class="licence" href="http://xerces.apache.org/xerces2-j/">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Xerial_SQLite_JDBC_3.20.1_lib_url" class="name" href="https://github.com/xerial/sqlite-jdbc">Xerial SQLite JDBC</a>
      <span class="version">3.20.1</span>
    </td>
    <td class="secondColumn">
      <a id="Xerial_SQLite_JDBC_3.20.1_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="Xerial_SQLite_JDBC_3.21.0.1_lib_url" class="name" href="https://github.com/xerial/sqlite-jdbc">Xerial SQLite JDBC</a>
      <span class="version">3.21.0.1</span>
    </td>
    <td class="secondColumn">
      <a id="Xerial_SQLite_JDBC_3.21.0.1_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="xml-apis-ext_1.3.04_lib_url" class="name" href="http://xerces.apache.org/xml-commons/components/external">xml-apis-ext</a>
      <span class="version">1.3.04</span>
    </td>
    <td class="secondColumn">
      <a id="xml-apis-ext_1.3.04_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="xml-resolver_1.2_lib_url" class="name" href="http://xml.apache.org/commons/components/resolver/">xml-resolver</a>
      <span class="version">1.2</span>
    </td>
    <td class="secondColumn">
      <a id="xml-resolver_1.2_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="XMLBeans_2.6.0_lib_url" class="name" href="http://xmlbeans.apache.org/">XMLBeans</a>
      <span class="version">2.6.0</span>
    </td>
    <td class="secondColumn">
      <a id="XMLBeans_2.6.0_license_url" class="licence" href="http://svn.jetbrains.org/idea/Trunk/bundled/WebServices/resources/lib/xmlbeans-2.3.0/xmlbeans.LICENSE">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="XmlRPC_2.0.1_lib_url" class="name" href="http://ws.apache.org/xmlrpc/xmlrpc2/">XmlRPC</a>
      <span class="version">2.0.1</span>
    </td>
    <td class="secondColumn">
      <a id="XmlRPC_2.0.1_license_url" class="licence" href="http://ws.apache.org/xmlrpc/xmlrpc2/license.html">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="XStream_1.4.11.1_lib_url" class="name" href="https://x-stream.github.io/">XStream</a>
      <span class="version">1.4.11.1</span>
    </td>
    <td class="secondColumn">
      <a id="XStream_1.4.11.1_license_url" class="licence" href="https://x-stream.github.io/license.html">BSD License</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <a id="XZ_for_Java_1.8_lib_url" class="name" href="http://tukaani.org/xz/java.html">XZ for Java</a>
      <span class="version">1.8</span>
    </td>
    <td class="secondColumn">
      <span class="licence">Public Domain</span>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <span class="name">Android Instant Apps SDK API</span>
      <span class="version"></span>
    </td>
    <td class="secondColumn">
      <a id="Android_Instant_Apps_SDK_API_null_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <span class="name">Eclipse Layout Kernel</span>
      <span class="version">0.3.0</span>
    </td>
    <td class="secondColumn">
      <span class="licence">Eclipse Public License 1.0</span>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <span class="name">Grazie Language Detector</span>
      <span class="version">0.1.12</span>
    </td>
    <td class="secondColumn">
      <a id="Grazie_Language_Detector_0.1.12_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <span class="name">Grazie Language Tool (English)</span>
      <span class="version">4.7.10</span>
    </td>
    <td class="secondColumn">
      <a id="Grazie_Language_Tool_(English)_4.7.10_license_url" class="licence" href="http://www.gnu.org/licenses/lgpl-2.1.txt">LGPL 2.1</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <span class="name">Grazie Language Tool</span>
      <span class="version">4.7.10</span>
    </td>
    <td class="secondColumn">
      <a id="Grazie_Language_Tool_4.7.10_license_url" class="licence" href="http://www.gnu.org/licenses/lgpl-2.1.txt">LGPL 2.1</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <span class="name">Grazie SpellChecker</span>
      <span class="version">0.1.9</span>
    </td>
    <td class="secondColumn">
      <a id="Grazie_SpellChecker_0.1.9_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <span class="name">HDR Histogram</span>
      <span class="version">2.1.4</span>
    </td>
    <td class="secondColumn">
      <a id="HDR_Histogram_2.1.4_license_url" class="licence" href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <span class="name">hppc</span>
      <span class="version">0.7.2</span>
    </td>
    <td class="secondColumn">
      <a id="hppc_0.7.2_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <span class="name">Kotlin Gradle Plugin Model</span>
      <span class="version">1.3.70</span>
    </td>
    <td class="secondColumn">
      <a id="Kotlin_Gradle_Plugin_Model_1.3.70_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <span class="name">Perfetto protos</span>
      <span class="version">27.0.0.0</span>
    </td>
    <td class="secondColumn">
      <a id="Perfetto_protos_27.0.0.0_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <span class="name">Studio Protobuf</span>
      <span class="version">27.0.0.0</span>
    </td>
    <td class="secondColumn">
      <a id="Studio_Protobuf_27.0.0.0_license_url" class="licence" href="https://github.com/protocolbuffers/protobuf/blob/master/LICENSE">protobuf</a>
    </td>
  </tr>
<tr valign="top">
    <td class="firstColumn">
      <span class="name">Transport Pipeline</span>
      <span class="version">27.0.0.0</span>
    </td>
    <td class="secondColumn">
      <a id="Transport_Pipeline_27.0.0.0_license_url" class="licence" href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
    </td>
  </tr>
</table>
